
.headings{
    --color: #1ee062;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 5px 60px;
    border: 2px solid var(--color);
    border-radius: 10px;
}
.headings::before,
.headings::after {
content: '';
position: absolute;
width: 40px;
height: 40px;
border: inherit;
transition: width .25s .15s, height .25s;
}
.headings::before{
  top: -10px;
  left: -10px;
  border-width: 3px 0 0 3px;
}
.headings::after{
bottom: -10px;
right: -10px;
border-width: 0 3px 3px 0;
}
.headings:hover::before,
.headings:hover::after{
  width: calc(100% + 27px);
  height: calc(100% + 27px);
}


/* rolling cont */
.diceContainer {
  display: grid;
  place-items: center;
  position: absolute;
  top: 200px;
  left: 120px;
  font-size: 2rem;
  z-index: 99;
}

.diceBtn {
  z-index: 99;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(237, 192, 14);
  border-radius: 5px;
  width: 200px;
}
@media (max-width: 1250px) {
  
  .diceContainer {
    display: flex;
    place-items: none;
    top: 92vh;
    left: 36vw;
    border: 2px solid red;
  }
  .diceBtn {
    width: 200px;
    margin-left: 20px;
  }
}
@media (max-width: 1250px) {
  
  .diceContainer {
    display: flex;
    place-items: none;
    top: 99vh;
    left: 10vw;
  }
  .diceBtn {
    width: 200px;
    margin-left: 20px;
  }
}