* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  overflow: hidden;
  background-color: black;
}
.headings{
  --color: #0999d7;
  color: red;
  position: relative;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  font-size: 40px;
  padding: 5px 80px;
  border: 3px solid var(--color);
}
.headings::before,
.headings::after {
content: '';
position: absolute;
width: 40px;
height: 40px;
border: inherit;
transition: width .25s .15s, height .25s;
}
.headings::before{
top: -10px;
left: -10px;
border-width: 3px 0 0 3px;
}
.headings::after{
bottom: -10px;
right: -10px;
border-width: 0 3px 3px 0;
}
.headings:hover::before,
.headings:hover::after{
width: calc(100% + 27px);
height: calc(100% + 27px);
}
.cont {
  display: grid;
  width: 600px;
  grid-template-columns: repeat(10, 1fr);
  margin: 0px 0 0px 0;
}

.cont div {
  width: 60px;
  height: 60px;
  border: 0.2px solid rgb(11, 10, 10);
}

#p1,
#p2 {
  width: 20px;
  height: 20px;
  border-radius: 30px 30px 30px 10px;
  background-color: rgb(155, 13, 13);
  position: relative;
  border: 3px solid rgb(26, 173, 53);
}

#p1 {
  position: relative;
  transition: all linear 0.5s;
  z-index: 2;
  margin-left: 5px;
  margin-top: 18px;
}

#p2 {
  z-index: 2;
  position: relative;
  transition: all linear 0.5s;
  background-color: rgb(12, 94, 235);
  margin-left: 5px;
  margin-top: 18px;
}

img {
  position: relative;
  top: -605px;
  left: 8px;
  margin: 0;
  width: 615px;
  height: 615px;
}
#diceCont {
  display: grid;
  place-items: center;
  position: absolute;
  top: 200px;
  left: 120px;
  font-size: 2rem;
  z-index: 99;
}
#diceBtn {
  z-index: 99;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(75, 140, 197);
  border-radius: 5px;
  width: 200px;
}

@media (max-width: 1250px) {
  
  #diceCont {
    display: flex;
    place-items: none;
    top: 92vh;
    left: 36vw;
    border: 2px solid red;
  }
  #diceBtn {
    width: 200px;
    margin-left: 20px;
  }
}
@media (max-width: 1250px) {
  
  #diceCont {
    display: flex;
    place-items: none;
    top: 99vh;
    left: 10vw;
    /* border: 2px solid red; */
  }
  #diceBtn {
    width: 200px;
    margin-left: 20px;
  }
}
#tog{
  color: teal;
  font-weight: bold;
}
#dice{
  color: red;
  font-weight: bold;
}